<html>
<head>
    <title>Devices Shop</title>
    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/bootstrap.min.css">
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/bootstrap.min.js"></script>
</head>
<body>
<main>
    <div class="container">
        <form action='/charge' method='POST' id='checkout-form'>

            <input type='hidden' th:value='${amount * 100}' name='amount'/>
            <label>Name:<span th:text='${name}'/></label>
            <label>Price:<span th:text='${amount}'/></label>
            <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
            <script
                    src='https://checkout.stripe.com/checkout.js'
                    class='stripe-button'
                    th:attr='data-key=${stripePublicKey},
         data-amount=${amount*100},
         data-currency=${currency}'
                    data-name='EMT'
                    data-description='EMT course'
                    data-image
                            ='https://www.finki.ukim.mk/Content/dataImages/downloads/logo-large-500x500_2.png'
                    data-locale='auto'
                    data-zip-code='false'>
            </script>
        </form>
    </div>
</main>
</body>
</html>